.ParallaxBackground {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ParallaxBackground > .img {
  background-color: lightgrey;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.ParallaxBackground > .img > div {
  width: 100%;
  height: 100%;
}