.CutoutText {
  background-color: white;
  color: black;
  font-size: 65px;
  font-weight: bold;
  padding: 20px 20px;
  mix-blend-mode: screen; /* This makes the cutout text possible */
  display: flex;
  align-items: center;
  justify-content: center;
}